
#moviereviewtextarea{
    height: 100px;
    width: 100%;
}

main {
    height: auto;
    max-height: inherit;
}

#movieDisplay {
  background-color:#5D4A66;
  margin:auto;
}

#view {
  margin:auto;
  text-align:center;
  right:50%;
}

#moviedesc {
  color:white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size:8pt; 
}
