<html>

<head>
    <% include ../partials/head %>
    <title>Movie Page</title>
    <link rel="stylesheet" text="text/css" href="/CSS/MoviePage.css"></link>

</head>
<header>
    <% include ../partials/header %>
</header>

<body onload="ShowMoviesOnMoviePage()">

    <main>
        <div id = "MoviePageMain">
            <div id = "searchResults">

            </div>

            <div id = "createReview">
                <h2>Create Review</h2>
                <form method="post" action="/addMovie">
                    <textarea id = "moviereviewtextarea" name="movieReview" autocomplete = "off" required maxlength="10000"></textarea>
                    <input type="submit" value="X" id="submit">
                </form>
            </div>

            <h2>Reviews</h2>
            <div id = "movieReviews">
                <div> <%= output %> </div>
                <% array.forEach(function(info) { %>
                    <div> <%= info.Username %> </div>
                    <div> <%= info.Review %> </div>
                    <% }); %>
                </div>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

    </html>
