<html>

  <head>
    <title></title>
    <script type="text/javascript" src="/JS/testing.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <header>

  </header>

  <body onload="main()">

    <main>

      <form class="modal-content animate" action="/testing" method="POST">
        <input type="button">
      </form>
    </main>

    <footer>

    </footer>

  </body>

</html>
