<html>

  <head>
    <title></title>
    <script type="text/javascript" src="/JS/testing.js"></script>
  </head>
  <header>

  </header>

  <body>

    <main>
      <button type="button" action="deleteDatabseItems">Delete Databse Info</button>
    </main>

    <footer>

    </footer>

  </body>

</html>
