<html>

  <head>
    <title></title>
    <script type="text/javascript" src="/JS/testing.js"></script>
  </head>
  <header>

  </header>

  <body onload="main()">

    <main>
      <input type="button">
    </main>

    <footer>

    </footer>

  </body>

</html>
